<!DOCTYPE html>
<html>
  <head>
    <title>TechpitTweet2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partial/navbar' %>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

    <%# ==========ここにcontainerクラスを追加する========== %>
    <div class="container">
      <%= yield %>
    </div>
    <%# ==========divの閉じタグを追加========== %>

  </body>
</html>
